.container{
    margin: auto;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle{
    border: 2px solid #ccc;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 500px;
    height: 500px;
}

.step{
    border: 2px solid #ccc;
    background-color: #F8EE1E;
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    opacity: 0.8;
}

.step:hover{
    opacity: 1;
}

.step h2{
    margin-top: 20px;
    font-size: 18px;
    color: #018001;
}

#step1{
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50px);
}

#step2{
    top: 50%;
    right: 0;
    transform: translateX(50%) translateY(-50%);
}

#step3{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
}

#step4{
    top: 50%;
    left: 0;
    transform: translateX(-50%) translateY(-50%);
}

p{
    font-size: 20px;
    color: #018001
}
